.section-content {
	text-align: center;
	margin-top: 100px;

	.image-content {
		margin-top: 20px;
		margin-bottom: -40px;
		position: relative;

		.bg-package {
			width: 60%;
		}

		.box-package {
		}
	}

	.title-content {
		margin-bottom: 20px;
		h1 {
			color: #1d1d1d;
			font-size: 36px;
			font-weight: 700;
			span {
				color: #4cc7a0;
			}
		}
		h2 {
			font-size: 30px;
			color: #091469;
		}
	}

	.line {
		border-bottom: 3px solid #ffd200;
		width: 59px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
	}

	.description-content {
		margin-bottom: 20px;
		padding-left: 34px;
		padding-right: 34px;
		font-size: 12px;
		font-weight: 400;
	}

	.button-content {
		width: 80px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 150px;
		cursor: pointer;
	}

	.title-modal {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 400;
	}
}

.detail-section-content {
	text-align: center;
	margin-top: 100px;

	.image-content {
		margin-bottom: 20px;
		img {
			border-radius: 50%;
			height: 243px;
			width: 243px;
			border: 2px solid #ffd200;
			padding: 5px;
		}
	}

	.title-content {
		margin-bottom: 20px;
		h1 {
			color: #1d1d1d;
			font-size: 24px;
			font-weight: 700;
		}
		h2 {
			font-size: 26px;
			color: #091469;
		}
	}

	.description-content {
		margin-bottom: 20px;
		margin-bottom: 20px;
		padding-left: 34px;
		padding-right: 34px;
		font-size: 12px;
		font-weight: 400;
		color: #4a4a4a;
	}

	.efresh-image {
		width: 106px;
		height: 39px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
	}

	.line {
		border-bottom: 2px solid #ffd200;
		width: 59px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
	}

	.two-side {
		text-align: left;
		margin-bottom: 50px;
		margin-top: 20px;

		.img-wrapper {
			margin-top: 15px;
			margin-left: 15px;
			text-align: center;
		}

		.section {
			margin-bottom: 13px;
			.title {
				color: #389477;
				font-size: 10px;
				font-weight: 700;
			}

			.desc {
				color: #4a4a4a;
				font-size: 10px;
				font-weight: 700;
			}
		}
	}
}

.video-wrapper {
	margin-top: 100px;

	.efresh-image {
		width: 106px;
		height: 39px;
		margin-left: auto;
		margin-right: auto;
	}

	.line {
		border-bottom: 3px solid #ffd200;
		width: 59px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
	}

	.video-section-content {
		text-align: center;
		margin-bottom: 100px;

		.title-content {
			margin-bottom: 20px;
			margin-top: 20px;
			h1 {
				font-size: 24px;
				font-weight: 700;
				color: #4cc7a0;
			}
			h3 {
				font-size: 16px;
				font-weight: 700;
				color: #1d1d1d;
				padding-left: 58px;
				padding-right: 58px;
			}
		}

		.description-content {
			margin-bottom: 40px;
			font-size: 12px;
			font-weight: 400;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}

.maps-section-content {
	margin-top: 100px;
}

.farm-section-content {
	margin-top: 100px;
	margin-bottom: 100px;

	.efresh-image {
		width: 106px;
		height: 39px;
		margin-left: auto;
		margin-right: auto;
	}

	.line {
		border-bottom: 3px solid #ffd200;
		width: 59px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
	}

	.line-left {
		border-bottom: 3px solid #ffd200;
		width: 59px;
		margin-bottom: 16px;
		margin-left: 40px;
		margin-top: -8px;
	}

	.title-content {
		margin-bottom: 20px;
		margin-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		h1 {
			font-size: 24px;
			font-weight: 700;
			color: #4cc7a0;
		}
		h3 {
			font-size: 12px;
			font-weight: 400;
			color: #252525;
			margin-top: -8px;
		}
	}

	.farm-content {
		.title {
			font-size: 12px;
			font-weight: 700;
			color: #389477;
		}

		.description {
			font-size: 10px;
			font-weight: 400;
			color: #4a4a4a;
		}
	}
}

.locations-section-content {
	margin-top: 100px;
	padding-left: 10px;
	position: relative;

	.text {
		position: absolute;
		padding-left: 30px;
		.title {
			color: #4a4a4a;
			font-size: 24px;
			font-weight: 700;
		}

		.description {
			color: #4a4a4a;
			font-size: 14px;
			font-weight: 700;
		}
	}

	.images {
		padding-top: 30px;
		padding-left: 30px;
	}
}
